#container {
	width: 500px;
	height: auto;
	min-height: 200px;
	margin: auto;
}

#page-1 {
	display: block;
}

#page-2 {
	display: none;
}

#page-3 {
	display: none;
}


.valid-box {
	width: 15px;
	height: 15px;
	float: left;
	border: solid 1px #000;
	border-radius: 100%;
}

.input-container p {
	float: left;
	font-size: 20px;
}

.input-container {
	display: block;
	margin: 10px auto;
	clear: both;
}

#page-1 .input-container  {
	width: 192px;
}

#page-1 .valid-box {
	margin: 3px 30px;
}

#page-1 p {
	width: 40px;
	line-height: 22px;
}

#page-1 input {
	width: 15px;
	height: 15px;
	margin: 3px 30px;
}

#page-2 .input-container, #page-3 .input-container {
	width: 332px;
}

#page-2 .valid-box, #page-3 .valid-box {
	margin: 3px 5px;
}

#page-2 p {
	width: 130px;
	line-height: 22px;
}

#page-2 input, #wojewodztwo {
	width: 165px;
	height: 22px;
	margin: 0 5px
}

#page-3 p {
	width: 50px;
	line-height: 22px;
}

#page-3 input{
	   width: 130px;
	   height: 22px;
	   margin: 0 5px;
}

#page-3 #ok {
	width: 36px;
	height: 24px;
	display: block;
	margin: 0 auto !important;
}

meter {
	width: 108px;
	height: 22px;
}

meter {

}

.title {
	width: 100%;
	height: 22px;
	text-align: center;
	background-color: red;
	color: white;
}

hr {
	margin-top: 10px !important;
    margin-bottom: 10px !important;
	border-color: black !important;
}

.error {
	background-color: #ff0000;
}

.success {
	background-color: #33cc33;
}

#container footer {
	display: block;
	width: 135px;
	margin: 0 auto;
}

.float, #previous {
	float:left;
}

#previous {
	width: 59px;
}

#next {
	width: 75px;
}

#previous:disabled, #next:disabled {
	color: gray;
}